#set the parameters
data_file_name=./image_files/planar_data.dbin 

pixels_x = 1024
pixels_y = 1024

support_file_name = ./image_files/planar_support.tiff

output_file_name_prefix = planar
output_file_type = tiff

#output every 50 iterations
output_iterations = 50

#setup the algorithm
#do 250 HIO followed by 150 ER
algorithm = HIO ER 
iterations= 250 150 

#we will set the seed as a command line arguement for the moment
#seed = 0 

info_level = 2 # 0-minimal, 1-counting, 2-print the error metric

output_diffraction_estimate = 0 # 0-false, 1-true
use_log_scale_for_diffraction = 0 # 0-do not use log scale, 1- use log scale
use_log_scale_for_object = 0

#shrink wrap the support every 50 iterations
#remove this line or set to 0 if you don't
#want shrinkwrap to be performed.
shrinkwrap_iterations = 50
#smear the current estimate with a gaussian of sigma = 1.5 pixels
shrinkwrap_gauss_width = 1.5
#threshold at 10%
shrinkwrap_threshold = 0.1

#uncomment if you want to start using the result from a 
#previous run 
#starting_point_file_name = planar.cplx

